.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #673ab7; 
    color: #fff; 
    padding: 10px 0; 
    text-align: center; 
    height: 5%;
    font-size:medium;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left, .footer-center, .footer-right {
    flex: 1;
  }
  
  .footer-left {
    text-align: left;
  }
  
  .footer-center {
    text-align: center;
  }
  
  .footer-right a {
    background-color: white; 
    border-radius: 50%; 
    margin-left: 8px;
    margin-top: 2%; 
    width: 30px;
    height: 30px;
  }
  
  .footer-right a:hover {
    background-color: rgba(68, 66, 66, 0.2);
  }
  
  .icon {
    cursor: pointer;
    margin-left: 10px; /* Espacio entre los iconos */
  }
  