<mat-toolbar color="primary">  
    <mat-toolbar-row>
        <span>Third Line</span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="toggleSearch()" *ngIf="isSearchVisible===false">
            <mat-icon>search</mat-icon>
        </button>
        <div *ngIf="isSearchVisible" class="search-bar">
            <mat-form-field>
                <input matInput placeholder="Buscar" >
                <button mat-button color="primary" matSuffix (click)="toggleSearch()">
                    <mat-icon>search</mat-icon>
                  </button>
                <button mat-button color="warning" matSuffix (click)="toggleSearch()">
                    <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon fontIcon="account_circle"></mat-icon>Perfil</button>
            <button mat-menu-item routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon fontIcon="logout"></mat-icon>Cerrar sesion</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
  