.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  flex: 1;
}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .home-content{
    margin:20px
  }